In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

##### Read and Prepare Data

In [2]:
# Read data
df = pd.read_csv('/home/filtheo/DeepRetail/DeepRetail/data/data_folder/m5_day.csv', index_col=0)
df.head()

,2011-01-29,2011-01-30,2011-01-31,2011-02-01,2011-02-02,2011-02-03,2011-02-04,2011-02-05,2011-02-06,2011-02-07,...,2016-04-15,2016-04-16,2016-04-17,2016-04-18,2016-04-19,2016-04-20,2016-04-21,2016-04-22,2016-04-23,2016-04-24
unique_id,,,,,,,,,,,,,,,,,,,,,
HOBBIES_1_001_CA_1,0,0,0,0,0,0,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
HOBBIES_1_002_CA_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
HOBBIES_1_003_CA_1,0,0,0,0,0,0,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
HOBBIES_1_004_CA_1,0,0,0,0,0,0,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
HOBBIES_1_005_CA_1,0,0,0,0,0,0,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [3]:
# Get the monthly frequency for simplicity
df.columns = pd.to_datetime(df.columns)
df = df.resample('M', axis = 1).sum()

In [4]:
# Get a small sample
sampled_df = df.sample(15)
sampled_df.head()

,2011-01-31,2011-02-28,2011-03-31,2011-04-30,2011-05-31,2011-06-30,2011-07-31,2011-08-31,2011-09-30,2011-10-31,...,2015-07-31,2015-08-31,2015-09-30,2015-10-31,2015-11-30,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30
unique_id,,,,,,,,,,,,,,,,,,,,,
HOUSEHOLD_1_483_WI_1,0,0,0,0,0,0,0,0,0,0,...,37,35,17,31,18,23,21,21,24,10
HOBBIES_2_047_WI_3,0,0,0,0,0,0,0,0,0,0,...,2,1,2,1,2,4,2,3,1,3
HOUSEHOLD_1_436_TX_3,4,15,30,28,18,11,16,19,23,12,...,0,0,0,0,0,0,0,0,0,0
HOUSEHOLD_1_351_CA_4,0,0,0,0,0,0,0,0,0,0,...,63,81,85,67,67,54,66,57,70,57
HOUSEHOLD_2_474_WI_1,0,4,7,7,1,7,1,7,2,8,...,4,1,3,9,0,2,3,1,4,4

##### Use THieF

In [5]:
from DeepRetail.reconciliation.temporal import THieF

/home/filtheo/DeepRetail/.venv/lib/python3.8/site-packages/statsforecast/core.py:21: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [6]:
# Define parameters
bottom_level_freq = 'M'
model = 'ETS'

In [24]:
# Example 1:
# No holdout set
# Structural scaling as reconciliation method
holdout = False

In [25]:
# Define THieF
thief = THieF(bottom_level_freq = bottom_level_freq)

In [26]:
# fit thief
thief.fit(sampled_df, holdout = holdout, format = 'pivoted')

In [27]:
# predict base forecasts (also get residuals)
base_fc_1 = thief.predict(model)
res_1 = thief.base_forecast_residuals

In [28]:
# Reconcile base forecasts
reconciled_1 = thief.reconcile(reconciliation_method = 'struc')

In [29]:
reconciled_1

,y,unique_id,Model,temporal_level,fh,y_base
0,202.399834,FOODS_1_125_WI_2,TR-struc-ETS,12,1,2.004057e+02
1,127.404052,FOODS_2_252_CA_4,TR-struc-ETS,12,1,2.099883e+02
2,3161.284724,FOODS_3_412_CA_3,TR-struc-ETS,12,1,3.364807e+03
3,133.913544,FOODS_3_747_TX_1,TR-struc-ETS,12,1,1.429995e+02
4,1954.385212,FOODS_3_795_WI_1,TR-struc-ETS,12,1,2.530111e+03
...,...,...,...,...,...,...
415,68.806906,HOUSEHOLD_1_351_CA_4,TR-struc-ETS,1,12,5.700130e+01
416,87.017955,HOUSEHOLD_1_404_CA_3,TR-struc-ETS,1,12,7.300140e+01
417,0.551878,HOUSEHOLD_1_436_TX_3,TR-struc-ETS,1,12,5.000200e-56
418,18.256506,HOUSEHOLD_1_483_WI_1,TR-struc-ETS,1,12,1.593814e+01
419,3.599132,HOUSEHOLD_2_474_WI_1,TR-struc-ETS,1,12,3.609370e+00

In [31]:
# Example 2:
# Holdout set used
# Reconciliation method: in-sample mse
holdout = True
cv = 3

In [32]:
# Define THieF
thief = THieF(bottom_level_freq = bottom_level_freq)

# fit thief
thief.fit(sampled_df, holdout = holdout, format = 'pivoted', cv = cv)

# Get base forecasts and residuals
base_fc_2 = thief.predict(model)
res_2 = thief.base_forecast_residuals

# Reconcile base forecasts
reconciled_2 = thief.reconcile(reconciliation_method = 'mse')

In [16]:
reconciled_2

,y,unique_id,Model,temporal_level,fh,y_base,cv,date,cutoff,y_true
0,230.111051,FOODS_1_125_WI_2,TR-mse-ETS,12,1,1.779862e+02,1,2015,2014,107
1,150.172231,FOODS_2_252_CA_4,TR-mse-ETS,12,1,4.000062e+00,1,2015,2014,120
2,3653.900719,FOODS_3_412_CA_3,TR-mse-ETS,12,1,4.929604e+03,1,2015,2014,4217
3,93.497031,FOODS_3_747_TX_1,TR-mse-ETS,12,1,8.299220e+01,1,2015,2014,111
4,1434.624863,FOODS_3_795_WI_1,TR-mse-ETS,12,1,1.536887e+03,1,2015,2014,1982
...,...,...,...,...,...,...,...,...,...,...
1255,47.686679,HOUSEHOLD_1_351_CA_4,TR-mse-ETS,1,12,4.300150e+01,3,2016-04,2015-04,57
1256,92.527245,HOUSEHOLD_1_404_CA_3,TR-mse-ETS,1,12,8.799780e+01,3,2016-04,2015-04,73
1257,1.500396,HOUSEHOLD_1_436_TX_3,TR-mse-ETS,1,12,5.000200e-08,3,2016-04,2015-04,0
1258,21.518254,HOUSEHOLD_1_483_WI_1,TR-mse-ETS,1,12,2.098918e+01,3,2016-04,2015-04,10
1259,3.704853,HOUSEHOLD_2_474_WI_1,TR-mse-ETS,1,12,3.730769e+00,3,2016-04,2015-04,4

##### Use the Temporal Reconciler

In [33]:
from DeepRetail.reconciliation.temporal import TemporalReconciler

In [34]:
# Define the TemporalReconciler
temporal_reconciler = TemporalReconciler(bottom_level_freq = bottom_level_freq)

In [35]:
# Example 1:
# Reconcile wihtout holdout set
# Reconcile with structural scaling
holdout = False

In [36]:
# Fit the reconcilcer
temporal_reconciler.fit(base_fc_1)

In [37]:
reconciled = temporal_reconciler.reconcile('struc')
reconciled

,y,unique_id,Model,temporal_level,fh,y_base
0,202.399834,FOODS_1_125_WI_2,TR-struc-ETS,12,1,2.004057e+02
1,127.404052,FOODS_2_252_CA_4,TR-struc-ETS,12,1,2.099883e+02
2,3161.284724,FOODS_3_412_CA_3,TR-struc-ETS,12,1,3.364807e+03
3,133.913544,FOODS_3_747_TX_1,TR-struc-ETS,12,1,1.429995e+02
4,1954.385212,FOODS_3_795_WI_1,TR-struc-ETS,12,1,2.530111e+03
...,...,...,...,...,...,...
415,68.806906,HOUSEHOLD_1_351_CA_4,TR-struc-ETS,1,12,5.700130e+01
416,87.017955,HOUSEHOLD_1_404_CA_3,TR-struc-ETS,1,12,7.300140e+01
417,0.551878,HOUSEHOLD_1_436_TX_3,TR-struc-ETS,1,12,5.000200e-56
418,18.256506,HOUSEHOLD_1_483_WI_1,TR-struc-ETS,1,12,1.593814e+01
419,3.599132,HOUSEHOLD_2_474_WI_1,TR-struc-ETS,1,12,3.609370e+00

In [38]:
# Example 2:
# Reconcile with a holdout set
# Reconcile using mse
holdout = True
cv = 3

In [40]:
base_fc_2

,temporal_level,unique_id,date,y,cutoff,Model,fh,cv,y_true
0,1,FOODS_1_125_WI_2,2015-03,16.573317,2015-02,ETS,1,1,23
1,1,FOODS_1_125_WI_2,2015-04,16.573317,2015-02,ETS,2,1,25
2,1,FOODS_1_125_WI_2,2015-05,16.573317,2015-02,ETS,3,1,14
3,1,FOODS_1_125_WI_2,2015-06,16.573317,2015-02,ETS,4,1,16
4,1,FOODS_1_125_WI_2,2015-07,16.573317,2015-02,ETS,5,1,6
...,...,...,...,...,...,...,...,...,...
1255,12,HOUSEHOLD_1_351_CA_4,2015,1118.847107,2014,ETS,1,3,800
1256,12,HOUSEHOLD_1_404_CA_3,2015,1228.902068,2014,ETS,1,3,998
1257,12,HOUSEHOLD_1_436_TX_3,2015,54.994500,2014,ETS,1,3,0
1258,12,HOUSEHOLD_1_483_WI_1,2015,200.005655,2014,ETS,1,3,290
1259,12,HOUSEHOLD_2_474_WI_1,2015,43.999998,2014,ETS,1,3,37

In [42]:
# Define the TemporalReconciler
temporal_reconciler = TemporalReconciler(bottom_level_freq = bottom_level_freq)

# Fit the reconcilcer
temporal_reconciler.fit(base_fc_2, holdout = holdout, cv = cv)

# Reconcile
reconciled = temporal_reconciler.reconcile('mse', residual_df = res_2)
reconciled

,y,unique_id,Model,temporal_level,fh,y_base,cv,date,cutoff,y_true
0,230.111051,FOODS_1_125_WI_2,TR-mse-ETS,12,1,1.779862e+02,1,2015,2014,107
1,150.172231,FOODS_2_252_CA_4,TR-mse-ETS,12,1,4.000062e+00,1,2015,2014,120
2,3653.900719,FOODS_3_412_CA_3,TR-mse-ETS,12,1,4.929604e+03,1,2015,2014,4217
3,93.497031,FOODS_3_747_TX_1,TR-mse-ETS,12,1,8.299220e+01,1,2015,2014,111
4,1434.624863,FOODS_3_795_WI_1,TR-mse-ETS,12,1,1.536887e+03,1,2015,2014,1982
...,...,...,...,...,...,...,...,...,...,...
1255,47.686679,HOUSEHOLD_1_351_CA_4,TR-mse-ETS,1,12,4.300150e+01,3,2016-04,2015-04,57
1256,92.527245,HOUSEHOLD_1_404_CA_3,TR-mse-ETS,1,12,8.799780e+01,3,2016-04,2015-04,73
1257,1.500396,HOUSEHOLD_1_436_TX_3,TR-mse-ETS,1,12,5.000200e-08,3,2016-04,2015-04,0
1258,21.518254,HOUSEHOLD_1_483_WI_1,TR-mse-ETS,1,12,2.098918e+01,3,2016-04,2015-04,10
1259,3.704853,HOUSEHOLD_2_474_WI_1,TR-mse-ETS,1,12,3.730769e+00,3,2016-04,2015-04,4